<div ng-controller="CompanyController">

    <div class="form-group">
        <label>
            Company
            <input ng-model="company.companyName" class="form-control" type="text" placeholder="company name">
        </label>

    </div>

    <div class="form-group">
        <label>
            Location
            <input ng-model="company.location" class="form-control" type="text" placeholder="Location">
        </label>

    </div>

    <div class="form-group">
        <label>
            Email
            <input ng-model="company.email" class="form-control" type="text" placeholder="companyemail@email.com">
        </label>

    </div>

    <div class="form-group">
        <label>
            Billing
            <input ng-model="company.billing" class="form-control" type="text" placeholder="billing type">
        </label>

    </div>

    <div ng-controller="UserController">

        <form>

            <div class="form-group">
                <label>
                    Email
                    <input ng-model="user.email" class="form-control" type="email" placeholder="email@domain.com">
                </label>
            </div>

            <div class="form-group">
                <label>
                    First name
                    <input ng-model="user.firstName" class="form-control" type="text" placeholder="First name">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Last Name
                    <input ng-model="user.lastName" class="form-control" type="text" placeholder="Last name">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Password
                    <input ng-model="user.password" class="form-control" type="password" placeholder="password">
                </label>

                <br/>
                <label>
                    Repeat Password
                    <input ng-model="user.repeatPassword" class="form-control" type="password" placeholder="Repeat password">

                </label>
            </div>

            <div class="form-group">
                <button ng-click="addUser()" class="btn btn-md btn-success">Create user</button>
            </div>
            <div class="form-group">
                <button ng-click="addCompany()" class="btn btn-md btn-success">Create Company</button>
            </div>
        </form>

        <br/>
        <br/>
        <button ng-click="listUsers()" class="btn btn-md btn-warning">List users</button>
        <button ng-click="listCompanies()" class="btn btn-md btn-warning">List companies</button>

        <input ng-model="query" classs="form-control" type="text" placeholder="Search">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="u in users | filter:query">
                    <td><a href="http://localhost:1337/user/{{u.id}}">Profile</a></td>
                    <td><b><a class="1" href="#" editable-text="u.firstName" style="color: #000000; text-decoration: none; border-bottom: 0px solid">{{ u.firstName || "empty" }}</a></b>
                    </td>
                    <td><b><a class="1" href="#" editable-text="u.lastName" style="color: #000000; text-decoration: none; border-bottom: 0px solid">{{ u.lastName || "empty" }}</a></b>
                    </td>
                    <td><b><a class="1" href="#" editable-text="u.email" style="color: #000000; text-decoration: none; border-bottom: 0px solid">{{ u.email || "empty" }}</a></b>
                    </td>
                    <td>
                        <button ng-click="removeUser(u.id)" class="btn btn-sm btn-danger">DELETE</button>
                    </td>
                    <td>
                        <button ng-click="updateUser(u.id, $index)" class="btn btn-sm btn-success">Update</button>
                    </td>


                </tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Company Name</th>
                    <th>Email</th>
                    <th>Location</th>
                    <th>Billing Type</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in companies | filter:query">
                    <td>{{c.id}}</td>
                    <td>{{c.companyName}}</td>
                    <td>{{c.email}}</td>
                    <td>{{c.location}}</td>
                    <td>{{c.billing}}</td>
                    <td>
                        <button ng-click="removeCompany(c.id)" class="btn btn-sm btn-danger">DELETE</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>