<div class="container">
    <div ng-controller="CompanyController">
        <div class="row">
            <div class="col-md-2">
                <lx-text-field label="Company Name">
                    <input type="text" ng-model="company.companyName">
                </lx-text-field>
            </div>

            <div class="col-md-2">
                <lx-text-field label="Location">
                    <input type="text" ng-model="company.location">
                </lx-text-field>
            </div>

            <div class="col-md-2">
                <lx-text-field label="Email">
                    <input type="text" ng-model="company.email">
                </lx-text-field>
            </div>


            <div class="col-md-2">
                <lx-text-field label="Billing Type">
                    <input type="text" ng-model="company.billing">
                </lx-text-field>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-2 col-md-10 col-lg-10">
            <button ng-click="listCompanies()" class="btn btn--m btn--orange btn--raised" lx-ripple>List companies</button>
            <button ng-click="addCompany()" class="btn btn--m btn--green btn--raised" lx-ripple>Create Company</button>
            </div>
        </div>
        <div ng-controller="UserController">
            <div class="row">
                <div class="col-md-2">
                    <lx-text-field label="Email Address">
                        <input type="text" ng-model="user.email">
                    </lx-text-field>
                </div>
                <div class="col-md-2">
                            <autocomplete  ng-model="user.firstName" attr-placeholder="First Name" data="users" on-type="updateForms"></autocomplete>
                </lx-text-field>
    </div>

                <div class="col-md-2">
                    <lx-text-field label="Last Name">
                        <input type="text" ng-model="user.lastName">
                    </lx-text-field>
                </div>


                <div class="col-md-2">
                    <lx-text-field label="Password">
                        <input type="text" ng-model="user.password">
                    </lx-text-field>
                </div>

                <div class="col-md-2">
                    <lx-text-field label="Repeat Password">
                        <input type="text" ng-model="user.repeatPassword">
                    </lx-text-field>
                </div>
            </div>

        <div class="row">
        <div class="col-sm-2 col-md-10 col-lg-10">
                    <button ng-click="listUsers()" class="btn btn--m btn--orange btn--raised" lx-ripple>List Users</button>
                    <button ng-click="addUser()" class="btn btn--m btn--green btn--raised" lx-ripple>Create User</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <table class="data-table data-table--has-primary data-table--has-secondary">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>add</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="u in users | filter:query">
                                <td><a href="/user/{{u.id}}">Profile</a>
                                </td>
                                <td><b><a class="1" href="#" editable-text="u.firstName" style="color: #000000; text-decoration: none; border-bottom: 0px solid">{{ u.firstName || "empty" }}</a></b>
                                </td>
                                <td><b><a class="1" href="#" editable-text="u.lastName" style="color: #000000; text-decoration: none; border-bottom: 0px solid">{{ u.lastName || "empty" }}</a></b>
                                </td>
                                <td><b><a class="1" href="#" editable-text="u.email" style="color: #000000; text-decoration: none; border-bottom: 0px solid">{{ u.email || "empty" }}</a></b>
                                </td>
                                <td>

                                    <button ng-click="removeUser(u.id)" class="btn btn--xs btn--red btn--fab" lx-ripple><i class="mdi mdi--delete"></i>
                                    </button>
                                    <button ng-click="updateUser(u.id, $index)" class="btn btn--xs btn--green btn--fab" lx-ripple><i class="mdi mdi--edit"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <table class="data-table data-table--has-primary data-table--has-secondary">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Company Name</th>
                                <th>Email</th>
                                <th>Location</th>
                                <th>Billing Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="c in companies | filter:query">
                                <td>{{c.id}}</td>
                                <td>{{c.companyName}}</td>
                                <td>{{c.email}}</td>
                                <td>{{c.location}}</td>
                                <td>{{c.billing}}</td>
                                <td>
                                    <button ng-click="removeCompany(c.id)" class="btn btn--m btn--red btn--raised" lx-ripple>DELETE</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>